body {
    font-family: Roboto;
    color: white;
    width: 100%;
}

.container {
    height: 670px;
    max-height: 100%;
    background-image: url("../img/background.png"), linear-gradient(45deg, #1a0033, #6600cc);
    background-blend-mode: overlay; 
    display: flex;
    flex-direction: column;
}

.header { 
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-left: 331px;
    padding-right: 329px;
    
}

.logo-title {
    font-size: 20pt;
    color: #00E0D0; 
    font-weight: 100;
    /* margin-right: 286px; */
}
    
.logo-pic {
    display: block;
    height: 50px;
    margin-right: 11px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 286px; */
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.nav-element {
    margin: 5px;
    padding: 5px; 
    font-size: 13pt;
    line-height: 36px;
}

.nav-element:first-child {
    color: #00E0D0;
}

.content-container {
    width: 100%;
    margin-top: 163px;    
}

.title {
    font-size: 32px;
    font-family: Playfair Display;
    font-weight: bold;
    width: 510px;
    margin: auto;
    margin-bottom: 21px;
}

.border {
    display: inherit;
    content: "";
    margin: auto;
    width: 50px;
    height: 1px;
    background-color: #00E0D0;
}

.content {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 771px;
    font-weight: 300;
    font-size: 11pt;
    text-align: center;
}

.content:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

.button, .button-1, .button-2 {
    background-color: transparent;
    border: 1px solid #00E0D0;
    color: #00E0D0;
    text-transform: capitalize;
}

.button, .button-1 {
    display: block;
    width: 120px;
    height: 40px;
}

.button {
    margin: auto;
    margin-top: 31px;
}

.button-1 {
    margin-top: 31px;
}

.button-1:last-child {
    margin-top: 31px;
    margin-bottom: 70px;
}

.button-2 {
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 900;
    font-size: 9pt;
}

.button-2:last-child {
    margin: auto;
}

.story {
    width: 100%;
    height: 402px;
    margin-top: 70px;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.logo-big {
    display: block;
    height: 229px;
    /* margin-left: 395px; */
    margin-right: 100px;
}

.story-container {
    width: 538px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    color: rgb(65, 61, 75)
}

.story-title {
    text-transform: uppercase;
    font-family: Playfair Display;
    font-weight: bold;
}

.story-content {
    font-family: Roboto;
    font-weight: 300;
}

p {
    display: block;
    padding-top: 28px;
}

.story-video {
    background-image: url("../img/background2.png"), linear-gradient(45deg, #1a0033, #6600cc);
    background-blend-mode: overlay;
    width: 100%;
    height: 550px;
    /* display: flex;
    flex-flow: column;
    justify-content: center; */
}

.video {
    background-color: transparent;
    border: none;
    display: block;
    margin: auto;
    padding-top:220px;
}


.video-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    padding-top: 34px;

}

.expertise {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(65, 61, 75);
}

.expertise-title {
    padding-top: 71px;
    text-transform: uppercase;
    font-family: Playfair Display;
    font-weight: bold;
    width: 130px;
}

.subtitle {
    padding-top: 16px;
    font-family: Playfair Display;
    padding-bottom: 18px;

}

.border-1 {
    display: inherit;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 48px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}

.grid-row:last-child {
    padding-bottom: 68px;
    border-bottom: none;
}

.section {
    width: 318px;
    height: 250px;
    padding-bottom: 39px;
    border-right: 1px solid #ebebeb;

}

.section:last-child {
    border-right: none;
}

.grid-container {
    display: flex;
    flex-flow: column;
    /*align-items: space-around;*/
    justify-content: flex-start;
    height: 250px;
    text-align: center;
}

.grid-content {
    text-align: center;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 25px;
    font-weight: 300;
    color: rgba(51, 51, 51, 255);
}

.grid-title {
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(65, 61, 75, 255);
    text-align: center;
    margin-top: 39px;

}

 .grid-element {
    display: block;
    height: 50px;
    margin: auto;
     margin-top: 39px;
}

.team {
    background-image: url("../img/background3.png"), linear-gradient(45deg, #1a0033, #6600cc);
    background-blend-mode: overlay;
    width: 100%;
    height: 670px;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start
}

.team-title {
    padding-top: 71px;
    text-transform: uppercase;
    font-family: Playfair Display;
    font-weight: 900;
    text-align: center;
}

.team-subtitle {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: normal;
    padding-bottom: 18px;
    padding-top: 16px;
}

.team-grid {
    display: flex;
    flex-flow: row;
}

.team-grid-element {
    margin-right: 20px;
    border: 1px solid white;
}

.team-grid-element:last-child{
    margin-right: 0;
}


.team-grid-title {
    width: 220px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person, .position {
    display: block;
    text-align: center;
}

.person {
    padding-top: 0;
    line-height: 10px;
    font-weight: 900;
}

.position {
    padding-top: 12px;
    font-weight: 100;
    font-size: 9pt;
    line-height: 9px;
}


.works-header {
    height: 157px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.works-title {   
    text-transform: uppercase;
    color: rgba(65, 61, 75, 255);
    font-weight: 700;
    font-family: "Playfair Display";
}

a {
    text-decoration: none;
    color: rgba(65, 61, 75, 255);
    font-weight: 100;
    font-size: 8pt;
}

.works-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.works-pic {
    display: inline-flex;
    padding-left: 10px;
}

.works-img {
    display: block;
    border: none;
}

.works-footer {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    height: 500px;
    background-image: url("../img/background.png"), linear-gradient(45deg, #1a0033, #6600cc);
    background-blend-mode: overlay;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-content {
    width: 770px;
    margin-top: 42px;
    font-family: "Playfair Display";
}

.feedback-title {
    margin-top: 52px;
}

.feedback-row {
    margin-top: 45px;
    width: 369px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-left {
    margin-left: 12px;
}

.link-right {
    margin-right: 12px;
    width: 11px;
    height: 21px;
}

.contact-form {
    height: 654px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 70px;
}

.form, .clients {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.clients {
    display: flex;
    flex-direction: column;
}

.clients-container {
    /* padding-top: 47px; */
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

input:last-of-type {
    height: 200px;
}

input, input:first-of-type {
    height: 45px;
    text-transform: capitalize;
    /* margin-top: 23px; */
    border: 1px solid #e5e5e5;
    padding-left:21px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 9pt;
    color: #e5e5e5;
}

 input {
    width: 460px;
 }

.subscription-input {
    width: 211px;
    height: 45px;
    background: none;
    border: 1px solid #e5e5e5; 
}

.footer {
    background-image: url("../img/background5.png"), linear-gradient(45deg, #1a0033, #6600cc);
    background-blend-mode: overlay; 
    font-size: 11pt;
    height: 400px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo:nth-last-of-type(2) {
    width: 283px;
    display: flex;
    justify-content: flex-start;
} 

.footer-column {
    width: 283px;
    display: flex;
    flex-direction: column;        
}

.footer-content {
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
}

.footer-pic {
    margin-right: 16px;
}

.footer-input {
    width: 211px;
    height: 45px;
    background: none;
    border: solid 1px white;
    margin: 0px;
    padding: 0px;
}

.subscribe {
    display: flex;
    flex-direction: row;
}

.footer-input::placeholder {
    color: white;
    font-family: Roboto;
    font-weight: 100;
}

.subscribe-button {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.networks {
    width: 283px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.networks-pic {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    
}

.networks-logo {
    margin: auto;
    align-content: center;
    justify-content: center;
}

.last-row {
    max-width: 938px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.last-row-column {
    width: 301px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;   
}

.last-row-column:nth-last-of-type(1) {
    flex-grow: 2;
}


.last-row-column-item {
    text-transform: uppercase;
}

